body {
  background: #fafbfc !important;
  font-family: 'Lato', sans-serif !important;
}

header {
  font-weight: bold !important;
  text-align: center !important;
}

a {
  color: #586069;
  -webkit-transition: all 0.33s;
  -moz-transition: all 0.33s;
  -ms-transition: all 0.33s;
  -o-transition: all 0.33s;
  transition: all 0.33s;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.nav {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  padding-top: 30px;
  margin: 0 auto 0 auto !important;
  border-bottom: none !important;
}

.nav{
  text-align:right;
}

.nav>.nav-tabs-right {
  display:inline-block;
  float:none;
}


.container>h1{
  font-weight: bold;
  margin: 40px;
  text-align: center;
}

.container>h3{
  font-weight: bold;
  margin: 20px;
  text-align: center;
}

body>.container-fluid {
  border-top: 1px solid #ddd;
  background-color: #fff;
}

.nav-tabs>li>a:hover, .nav-tabs>li>a:focus{
  background: #fdfdfe;
  color: #586069;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background: #fff;
}

#result_image>h4 {
  font-weight: bold;
  font-size: 14px;
  font-style: italic;
}

.data-input {
  margin: auto;
  max-width: 700px;
}

.table {
  font-size: 13px;
}


.table>tbody>tr>td>label {
  margin-top: 7px;
}

.container-result {
  margin: auto;
  text-align: center;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

#result_image {
  margin: 10px auto;
}

#payment_image {
  image-resolution:
}

#radioBtn {
  margin: 2.2px 0;
}

#radioBtn .notActive{
    color: #000;
    background-color: #fff;
    border-color: #ccc;
    /* border: 1px solid #ccc; */
    margin: 0;
}

#radioBtn>.btn-primary.active {
  background-color: #337ab7;
  border-color: #286090;
  /* border: 1px solid #ccc; */
  box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,.125);
  margin: 0;
}

.payment-section {

  margin: 20px auto;
  width: 80%;
}

.payment-section>fieldset>#ajaxResponse>.container {
  width: inherit;
}

.payment-section>fieldset>#ajaxResponse>.container>#testForm>.form-group>div {
  display: inline-block;
  float: none;
}

#hmac {
  max-width: 700px;
  margin: 0 auto;
}

#hmac>#hmac-text {
  width: 70%;
  margin-right: 20px;
}

.footer {
  border-top: 1px solid #ddd;
  background-color: transparent;
  min-height: 30px;
}


#repository {
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    min-height: 30px;
    margin: 10px 15px;
}

#nets {
    font-weight: bold;
    line-height: 30px;
    min-height: 30px;
    margin: 10px 15px;
    text-align: right;
}


@media (min-width: 768px){
  .nav {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .nav {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .nav {
    width: 1170px;
  }
}
